.input-field-wrapper {
  margin: 30px 0;
  input {
    padding: 0 15px;
    width: 100%;
    border: 1px solid #cfcfcf;
    border-radius: 3px;
    color: #000;
    height: 50px;
  }

  .error-text {
    color: #d0021b;
  }
}
